<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/static/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/SmartEditor/js/service/HuskyEZCreator.js" charset="UTF-8"></script>
    <meta charset="UTF-8">
    <title th:text="|${pageName}|">공지사항 등록</title>
</head>
<body>
  <h3>Naver Smart Editor 2.0</h3>
  <form action="/text" method="post">
    <div id="smarteditor">
      <textarea name="editorTxt" id="editorTxt"
                row="20" cols="10"
                placeholder="내용을 입력해주세요."
                style="width: 500px;"></textarea>
    </div>
    <input type="button">
  </form>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        smartEditor();
    });

    let oEditors = [];

    smartEditor = function (){
      console.log("Naver SmartEditor")
      nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "editorTxt",
        sSkinURI: "/SmartEditor/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
      });
    }

    function sendAjax(url, data, type){
        $.ajax({
            type: type,
            url: url,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function(data){

            },
            error: function(request, status, error){

            }
        });
    }
</script>
</html>