<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery-3.7.1.min.js"></script>
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div>
    <h1><a th:href="|/${loginType}|">[[${pageName}]]</a></h1> <hr/>
    <h2>사용자 정보 수정</h2>
    <div id="modifyUserDiv">
        <div>
            <input type="hidden" id="id" name="id" class="essential" th:value="${modifyRequest.id}" data-name="아이디"/>
        </div>
        <div>
            <label th:for="loginId">로그인 아이디 : </label>
            <input type="text" id="loginId" name="loginId" class="essential" th:value="${modifyRequest.loginId}" readonly="readonly" data-name="로그인 아이디"/>
        </div>
        <br/>
        <div>
            <input type="hidden" id="password" name="password" class="essential" th:value="${modifyRequest.password}" data-name="비밀번호"/>
        </div>
        <div>
            <label th:for="nickname">닉네임 : </label>
            <input type="text" id="nickname" name="nickname" class="essential" th:value="${modifyRequest.nickname}" data-name="닉네임"/>
        </div>
        <br/>
        <div>
            <div>권한</div>
            <div th:each="roleOpt, idx : ${roleOpts}">
                <input type="radio" name="role" class="essential-radio" th:value="${roleOpt.name()}" data-name="권한"
                       th:checked="${roleOpt.name() eq modifyRequest.role}"/>
                <label th:text="${roleOpt.name()}"/>
            </div>
        </div>
        <br/>
        <button id="modifyUser">수정</button>
    </div>
</div>
</body>
<script type="text/javascript">
    var url = '';
    var type = '';

    $('#modifyUser').on('click', function(){
        if (validation('modifyUserDiv')){
            var data = {
                "id": $("#id").val(),
                "loginId": $('#loginId').val(),
                "password": $('#password').val(),
                "nickname": $('#nickname').val(),
                "role": $('input[name="role"]:checked').val()
            };
            url = '/security-login/api/admin/modify/'+$('#loginId').val();
            type = 'post';

            sendAjax(url, data, type);
        }
    });

    function validation(divId){
        var requiredInputs = $('#'+divId+' .essential');
        var requiredRadio = $('#'+divId+' .essential-radio');
        var isValid = true;
        if (requiredInputs.length > 0){
            $.each(requiredInputs, (idx, input) => {
                if (input.value.trim() == ''){
                    alert($('#'+input.id).data('name')+' 항목은 필수 입력 항목입니다.');
                    isValid = false;
                    return false;
                }
            });
        }
        if (requiredRadio.length > 0){
            var radioNames = requiredRadio.toArray().map(radio => {return radio.name})
            $.each(radioNames, (idx, name) => {
                if ($('input[name='+name+']:checked').length == 0){
                    alert($('input[name='+name+']').data('name') + ' 항목은 필수 선택 항목입니다.');
                    isValid = false;
                    return false;
                }
            })
        }
        return isValid;
    }

    function sendAjax(url, data, type){
        $.ajax({
            type: type,
            url: url,
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function(data){
                alert('수정 완료되었습니다.');
                location.href = '/security-login/admin/list';
            },
            error: function(request, status, error){
                var result = request.responseJSON;
                console.log(request, status, error);

                alert(result.exMsg);
            }
        });
    }
</script>
</html>

<style>
    .error-class {
        color: red;
    }
    .error-input {
        border-color: red;
    }
</style>